@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-color: #f8f8f8;
	--dark-color: #1c1c1c;
	--g-pos-1: 100%;
	--g-pos-2: 100%;
	--g-pos-3: 0%;
	--g-pos-4: 0%;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: var(--dark-color);
	background-color: var(--light-color);
}

body.locked {
	overflow: hidden;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	font-size: calc(10px + 2vmin);
}

.canvas {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 100vw;
	height: 100%;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero {
	min-height: 100vh;
}
